run = "tsx index.ts"
entrypoint = "index.ts"
hidden = [".config", "package-lock.json", "tsconfig.json"]
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[deployment]
run = ["tsx", "index.ts"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev-server"

[[workflows.workflow]]
name = "dev-server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "tsx index.ts"
waitForPort = 5000

[userenv]

[userenv.shared]
SUPABASE_URL = "https://lmcptmutgiixqrfbknxz.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtY3B0bXV0Z2lpeHFyZmJrbnh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY5NjYxNzMsImV4cCI6MjA4MjU0MjE3M30.SESBTKp5TpOM0nZLNE5nk-9KTe8LwsVaqVejR59ds0s"
